<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles\layout.css">
    <link rel="stylesheet" href="styles\design.css">
    
    <title>Sean's Recipes</title>
</head>

<header>
    <p>Sean's Recipe Book</p>
    <div class="headerNav">
        <form action="/browse" method="get">
            <input type="submit" value="Browse All">
        </form>
        <form action="/create">
            <input type="submit" value="Submit your own!"> 
        </form>
        <div class="searchContainer">
            <form action="/search" method="post">
                <input type="search" name="siteSearch" placeholder="Search..." autocomplete="off">
                <input type="submit" value="Go">
            </form>
        </div>
    </div>
</header>

<body>