.discoverContainer {
    margin-top: 5em;
    width: 60vw;
}

.discoverHeader {
    display: flex;
    justify-content: space-between;
}

.discoverHeader > p {
    font-size: 4em;
    font-weight: 700;
    padding: 0.5em 0;
}

.discoverItems {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25em;
    grid-auto-rows: 25em;
    background-color: rgb(138, 120, 87);
    border-radius: 8px;
    padding: 1em;
    gap: 2em;
}

.cardSkeleton {
    background-color: rgb(52, 60, 83);
    border-radius: 8px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.sortbySkeleton {
    display: flex;
    justify-self: center;
    align-self: flex-end;
    margin-bottom: 1em;
    width: 13em;
    height: 2em;
    gap: 1em;
    background-color: rgb(74, 79, 94);
    border-radius: 8px;
}