.postContainer {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    gap: 2em;
    width: 60vw;
}

.postContainer > i {
    font-size: xx-large;
    margin-top: 1em;
    width: 1em;
    height: 1em;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.postContainer > p {
    font-size: xx-large;
}

.post {
    background-color: rgb(138, 120, 87);
    border-radius: 8px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.smallInput,
.largeInput,
.instructions,
.ingredients {
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.212);
    border-radius: 8px;
    padding: 0.8em;
    gap: 0.2em;
}

.instructions,
.ingredients {
    gap: 1em;
}

.instructions > div,
.ingredients > div {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.smallInput > label,
.largeInput > label {
    width: fit-content;
}

.textArea,
.step,
.ingredient,
.select {
    width: fit-content;
    background-color: #dddddd;
    border-radius: 8px;
    border: 2px solid rgb(92, 26, 1);
    padding: 0.5em;
    font-size: 0.8em;
    outline-width: 0;
    outline-color: transparent;
}

.largeInput > textarea {
    width: 100%
}

.checkBoxInput {
    display: flex;
    gap: 0.5em;
    font-size: 1.3em;
    padding: 0 0.8em;
}

.checkBoxInput > sup {
    font-size: 0.6em;
}

.buttons {
    display: flex;
    gap: 1em;
}

.buttons > i {
    background-color: rgb(115, 57, 45);
    border: 2px solid rgb(78, 34, 26);
    width: fit-content;
    border-radius: 8px;
    padding: 0.2em 0.6em;
    cursor: pointer;
}

.sendButton {
    width: fit-content;
    padding: 0.25em 1em;
    font-size: large;
    background-color: rgb(91, 213, 243);
    border-radius: 8px;
    border: 1px solid black;
    cursor: pointer;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

@media (hover: hover) {
    .postContainer > i:hover {
       color: rgb(75, 74, 74);
    }

    .sendButton:hover {
        background-color: rgb(28, 139, 167);
    }

    .buttons > i:hover {
        background-color: rgb(68, 37, 30);
    }
}