.sortbyContainer {
    display: flex;
    justify-content: end;
    align-items: end;
    padding-bottom: 1em;
    width: 13em;
    gap: 1em;
}

.sortby {
    flex: 1;
    background-color: var(--primary-color);
    border-radius: 4px;
    outline-color: transparent;
    outline-width: 0;
}

.sortby,
.sortbyContainer {
    font-size: large;
}