<%- include("partials/header.ejs") %> 

<!-- Create recipe and redirect to details of new recipe. -->

<!-- Maybe make function that adds/subtracts an ingredient div in
        an array of div objects, and refresh (if necessary) on adding/subtracting an ingredient-->

<main>
    <h1>Submit your own recipe!</h1>
    <div class="submissionContainer">
        <% let queryString = "/recipe?id=" %>
        <form action=<%= queryString %> method='POST'>
            <input type="text" name="recipeName" placeholder="Food name" autocomplete="off" required>
            <select name="recipeType" id="recipeType" required>
                <option value="breakfast">Breakfast</option>
                <option value="lunch">Lunch</option>
                <option value="dinner">Dinner</option>
            </select>
            <div id="recipeIngredientsContainer">
                <!-- Attemtping to implement feature where the first ingredient is always there, if user 
                    tries to delete first ingredient item it will clear the textarea instead of disappearing.-->
                <div class="ingredientContainer" id="firstIngredient">
                    <input type="text" name="recipeIngredient" placeholder="Ingredient" autocomplete="off" oninvalid="this.setCustomInvalid('At least one ingredient is required.')" required>
                    <div id="ingredientButtons">
                        <input type="button" value="+" id="addIngredient">
                        <input type="button" value="-" id="subtractIngredient">
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>

<script>
const newIngredient = "<div class='ingredientContainer'><input type='text' name='recipeIngredient' placeholder='Ingredient' autocomplete='off'><input type='button' value='+' id='addIngredient'><input type='button' value='-' id='subtractIngredient'></div>"
const buttons = "<div id='ingredientButtons'><input type='button' value='+' id='addIngredient'><input type='button' value='-' id='subtractIngredient'></div>"
const ingredientList = document.getElementById("recipeIngredientsContainer")

function addIngredient() { 
    ingredientList.lastChild.removeChild(ingredientList.lastChild)
    ingredientList.innerHTML += newIngredient 
    ingredientList.lastChild.innerHTML += buttons 
 } 
function subtractIngredient() { 
    if(ingredientList.lastChild === document.getElementById("firstIngredient")) { return  
    } else { 
        ingredientList.lastChild.remove() 
        ingredientList.lastChild.innerHTML += buttons 
    } 
 } 
document.getElementById('addIngredient').addEventListener("click", addIngredient())
document.getElementById('subtractIngredient').addEventListener("click", subtractIngredient())
</script>

<%- include("partials/footer.ejs") %>