:root {
    --primary-color: #D3D4D7;
    --secondary-color: #3E8DE3;
    --tertiary-color: #143AA2;
    --bg-color: #2e2e2e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    height: 100%;
    margin-bottom: 10vh;
}