.search {
    display: flex;
    align-items: center;
    gap: 1em;
}

.search > label > i {
    font-size: xx-large;
}

.smallInput {
    display: flex;
    width: 100%;
    font-size: large;
    height: 2em;
}

.textArea {
    max-width: fit-content;
    background-color: rgba(95, 94, 94, 0.384);
    color: var(--primary-color);
    padding: 1em;
    border: none;
    border-radius: 8px;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1em;
    line-height: 1.4;
    transition: all 0.2s;
    resize: none;
}

.textArea:focus {
    cursor: text;
    background-color: rgb(95, 94, 94);
    color: var(--primary-color);
    border-color: rgb(67, 116, 116);
}

@media (hover: hover) {
    .textArea:hover {
        cursor: pointer;
        background-color: rgb(95, 94, 94);

    }
}