* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
main,
footer {
    display: flex;
    width: 100%;
    gap: 14px;
    margin: 0 auto;
    padding: 14px;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header div:first-child {
    display: flex;
    gap: 14px;
}

.headerMenu {
    display: flex;
}

main {
    max-width: 900px;
    flex-direction: column;
    gap: 42px;
}

.popularRecipesContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 32px;
}

.recipeTitle {
    width: 100%;
}

.recipeItem {
    display: flex;
    flex-direction: column;
    padding: 14px;
    gap: 6px;
    border: 2px solid grey;
    width: 100%;
}

.recipeBody {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.recipeIngredients {
    margin: 0 32px;
}