.dashboard {
    width: 50%;
    margin-top: 10em;
}

.dashboard_posts {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0.5em 1em;
}

.dashboard_post {
    display: flex;
    justify-content: space-between;
    background-color: azure;
    border-radius: 8px;
}

.post_info {
    display: flex;
    align-items: center;
}

.post_media {
    margin: 0.5em;
    width: 4em;
    border-radius: 8px;
    overflow: hidden;
    aspect-ratio: 1/1;
}

.dashboard_buttons {
    display: flex;
    gap: 1em;
    align-items: center;
    padding: 0 1em;
}

.post_view,
.post_edit,
.post_delete {
    border-radius: 4px;
    padding: 0.5em 0.7em;
}

.post_view {
    background-color: rgb(211, 238, 238);
}

.post_edit {
    background-color: rgb(140, 159, 161);
}

.post_delete {
    background-color: rgb(245, 80, 80);
}
