.error {
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.error_content > a {
    border-radius: 8px;
    font-size: 1.9em;
    background-color: rgb(78, 80, 48);
    padding: 0.6em 1.2em;
}