.navheader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 5rem;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgb(180, 181, 187);
}

.nav_logo {
    width: 6em;
}

img {
    width: 100%;
    object-fit: cover;

}

a {
    text-decoration: none;
    color: inherit;
}

.navheader > ul > li > a {
    color: var(--link-color);
}

ul {
    list-style: none;
    display: flex;
    gap: 5em;
}