.detail_container {
    margin-top: 5em;
    width: 70%;
    background-color: rgb(202, 197, 154);
    padding: 2em;
    border-radius: 8px;
}

.detail_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.detail_media {
    margin: 1em 0;
    height: fit-content;
    max-height: 25em;
    overflow: hidden;
    border-radius: 8px;
}

.detail_body p{
    margin-bottom: 1.2em;
}