.post_item {
    background-color: var(--bg-color-2);
    transition: var(--transition);
    border-radius: 8px;
    overflow: hidden;
    padding: 1em;
    cursor: default;
    color: var(--primary-color);
}

.thumbnail {
    border-radius: 8px;
    overflow: hidden;
    height: 15em;
}

.thumbnail > img {
    height: 100%;
    object-fit: cover;
}

.content {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.post_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0.5em;
}

.category {
    background-color: rgba(115, 115, 233, 0.363);
    font-size: 0.8em;
    padding: 0.5em 0.7em;
    border-radius: 8px;
}

@media (hover: hover) {
    .post_item:hover {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
}